<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Index</title>
</head>
<body>

<h1>Recipe Index</h1>

<h4><a href="../crabCakeRecipe.html" target="_blank">Crab Cake</a></h4>
<h4><a href="../injeraRecipe.html" target="_blank">Injera</a></h4>
<h4><a href="../golabJamunRecipe.html" target="_blank">Golab Jamun</a></h4>
<h4><a href="../jerkChickenRecipe.html" target="_blank">Jerk Chicken</a></h4>
<h4><a href="../croqueMadameRecipe.html" target="_blank">Croque Madame</a></h4>

</body>
</html>